{{/* (Edited by Win-AG웅) */}}
{{ $jsHome := resources.Get "js/home.js" | resources.Minify | resources.Fingerprint (.Site.Params.fingerprintAlgorithm | default "sha512") }}
<div id="background">
  {{ partial "home/background.html" . }}
</div>
<div id="hero" style="display:none">
  {{ partial "home/hero.html" . }}
</div>
<div id="profile" style="display:none">
  {{ partial "home/profile.html" . }}
</div>
<div id="card" style="display:none">
  {{ partial "home/card.html" . }}
</div>
<div id="page" style="display:none">
  {{ partial "home/page.html" . }}
</div>

{{ with .Site.GetPage "guides" }}
<section class="my-8 rounded-lg border border-neutral-300 p-6 dark:border-neutral-600">
  <h2 class="text-2xl font-bold"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  <p class="mt-3">{{ .Description }}</p>
</section>
{{ end }}
<section>
  {{ partial "recent-articles-demo.html" . }}
</section>
<script
  defer
  type="text/javascript"
  src="{{ $jsHome.RelPermalink }}"
  integrity="{{ $jsHome.Data.Integrity }}"></script>
